<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bootstrap demo</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		</head>
	<body>
		{% include 'nav.html' %}

		
		<h2>Search for diseases using our powerful framework</h2>
		<div class="container">
			<p>"Derm-AID" represents a transformative leap towards addressing the intricate challenges posed by dermatological conditions on a global scale. This innovative AI-based diagnostic tool not only offers a lifeline to those in underserved regions but also holds the promise of early detection of systemic illnesses, significantly impacting patient well-being and mental health. By enhancing accessibility to dermatological care and serving as an educational resource, "Derm-AID" embodies our unwavering commitment to advancing healthcare equity and improving lives worldwide. With its potential to reduce the burden of skin diseases and offer invaluable support to medical professionals and patients alike, "Derm-AID" stands as a beacon of progress in the realm of healthcare innovation.</p>
		</div>

		<div>
			<a href="/search_disease">
				<button type="button" class="btn btn-primary">Search/Scan</button>
			</a>
		</div>

		{% include 'offcanvas.html' %}


		<table class="table">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Handle</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			</tbody>
		</table>


		{% include 'footer.html' %}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	</body>
</html>